*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}
.booking-container{
    height: 35rem;
    width: 65rem;
    justify-content: center;
    margin: 30px;
    background-color: white;
    border: 20px solid white;
    border-radius: 10px;
}

.image-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    border-radius: 10px;
    height: 25rem;
    width: 60rem;
}

.booking-1 img{
    height: 200px;
    width: 200px;
    background-position: center;
    object-fit: cover;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;
}

.booking-2 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-position: center;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;
}

.booking-3 img{
   height: 200px;
    width: 200px;
    background-position: center;
    object-fit: cover;
    margin: 10px; 
    border: 5px solid white;
    border-radius: 10px;
}

.booking-4 img{
    height: 200px;
    width: 200px;
    background-position: center;
    object-fit: cover;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;
}

.btn{
    padding: 10px;
    background-color: blue;
}

