*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services{
    background-color: #fff;
}

.myservice{
    background-image: url("./img/Surgery.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.service-text{
    width: 100%;
    display: flex;
    margin: 0 0 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: #80DEEA;
    color: rgb(58, 124, 190);
    flex-wrap: wrap;
}

.card-pics{
    width: 100%;
    background-color: white;
    height: 200vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.card{
    box-shadow: #8b9ba7 2px 2px 1px;
}

.card:hover{
    transform: scale(1.01);
}


